<div class="card">
   <div class="card-content">
      <span class="card-title">Returns</span>
      <p>There are <%= @project.returns.count %> returns for this project.</p></br>
   </div>
   <div class="card-action">
      <%= link_to "View Log", project_returns_path(@project)  %>
      <a href="#return-modal" class="modal-trigger">Add a Return Order</a>
   </div>
</div>

  <div id="return-modal" class="modal">
    <div class="modal-content">
      <h4>How Many Pallets on the Return?</h4>
      <%= form_tag new_project_return_path(@project), method: 'get' do %>
         <div class="row">
            <div class="col s3 input-field">
               <%= select_tag :pallet_count, options_for_select(1..20), prompt: "Pallet Count" %>
            </div>
         </div>
         <div class="row">
            <div class="col s3">
               <%= submit_tag "Continue", class: "waves-effect waves-light btn" %>
            </div>
         </div>
      <% end %>
    </div>
  </div>
