<div class="row valign-wrapper">
   <div class="col s7">
      <h3><%= @project.name %> - <%= @project.job_num %></h3>
   </div>
   <div class="col s2">
      <%= render 'projects/follow_form' %>
   </div>
   <div class="col s2">
      <%= link_to "Edit Project", edit_project_path(@project), class: "waves-effect waves-light btn-large right"  %>
   </div>
</div>


<div class="divider"></div>
<div class="section">
   <div class="row">
      <%= render 'projects/project_info' %>
   </div>
</div>


<div class="divider"></div>
<div class="section">
   <div class="row">
      <div class="col s4">
         <%= render 'projects/change_order_card' %>
      </div>
      <div class="col s4">
         <%= render 'projects/rfi_card' %>
      </div>
      <div class="col s4">
         <%= render 'projects/returns_card' %>
      </div>
   </div>
</div>


<div class="divider"></div>
<div class="section">
   <div class="row">
      <div class="col s8">
         <h4>Recent Activity</h4>
         <div class="divider"></div>
         <div class="section">
            <% @history_events.each do |event| %>
               <section>
                  <div class="row">
                     <div class="col s12">
                        <p><%= event.description %></p>
                     </div>
                  </div>
               </section>
            <% end %>
         </div>
      </div>
      <div class="col s4">
         <h4>People Following</h4>
         <div class="divider"></div>
         <div class="section">
            <%= render 'projects/follower_list' %>
         </div>
      </div>
   </div>
</div>
