<h2>Edit Return Shipment - <%= @project.name %></h2>

<%= simple_form_for [@project, @return] do |f| %>
      <div class="row">
         <div class="col s12">
            <div class="row">
               <%= f.input :jobsite_street, label: "Jobsite Address", wrapper_html: { class: "col s6" } %>
            </div>
            <div class="row">
               <%= f.input :jobsite_city,  label: "Jobsite City", wrapper_html: { class: "col s6" } %>
            </div>
            <div class="row">
               <%= f.input :jobsite_state, label: "Jobsite State", wrapper_html: { class: "col s6" } %>
            </div>
            <div class="row">
               <%= f.input :jobsite_zip, label: "Jobsite ZIP Code", wrapper_html: { class: "col s6" } %>
            </div>
            <div class="row">
               <%= f.input :distro_center, label: "Destination - NEED TO RESELECT", collection: distro_centers, prompt: "Destination", wrapper_html: { class: "col s6" } %>
            </div>
            <div class="row">
               <%= f.input :shipper, label: "Shipping Company", wrapper_html: { class: "col s3" } %>
            </div>
            <%= f.fields_for :pallets do |p| %>
               <div class="row">
                  <%= p.input :piece_count, label: "Number of Pieces on Pallet", collection: 1..99, wrapper_html: { class: "col s3" } %>
               </div>
            <% end %>

            <div class="row">
               <%= f.button :submit, "Update Return" %>
            </div>
         </div>
      </div>
<% end %>
