<div class="row valign-wrapper">
   <div class="col s8">
      <h3>RFIs - <%= @project.name %></h3>
   </div>
   <div class="col s4">
      <nav>
         <div class="nav-wrapper light-blue">
            <div class="col s12">
               <%= link_to "Home", root_path, class: "breadcrumb" %>
               <%= link_to "Project", project_path(@project), class: "breadcrumb"  %>
               <%= link_to "RFIs", project_rfis_path(@project), class: "breadcrumb"  %>
            </div>
         </div>
      </nav>
   </div>
</div>


<div class="divider"></div>
<div class="section">
   <% if @project.rfis.any? %>
      <%= render 'rfis/rfi_table' %>
   <% else %>
      <h3>There are currently no RFIs associated with this project.</h3>
   <% end %>
</div>
